@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for all browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;      /* Firefox */
}
